body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
}

.navbar .divider-vertical {
	margin: 0 !important;
}

.navbar .nav > li > a {
	padding: 10px 20px 11px !important;
}

.header {
	
}

.main {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 40px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.footer {
	color: white;
	background-color: #333;
	padding-top: 2em;
	padding-bottom: 2em;
}

label,
.tag {
	width: 120px !important;
	display: inline-block !important;
}

input[type=text] {
	margin-bottom: 3px !important;
}

.demo-box-dashed {
	border-left: 1px dashed #a5a5a5;
	border-top: 1px dashed #a5a5a5;
	border-right: 1px dashed #a5a5a5;
	padding: 12px 20px;
}

.demo-box {
	background: #f0f0f0;
	border: 1px solid #d3d3d3;
	padding: 12px 20px;
}